.imag-user2w {
    width: 70px;
    height: 70px;
  }

.crayons-layout {
    display: flex;
    font-size: $fs-base;
    width: 100%;
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    // grid-gap: $su-4;
    // grid-template-columns: 1fr;
    padding: $su-4;
}

.justify-between {
  display: flex;
  justify-content: space-between !important;
}
.items-center {
  display: flex;
  align-items: center !important;
}

.crayons-btn {
  // border-width: 0px;
  // shadow-color: rgba(0, 0, 0, 0.05);
  // vertical-padding: $su-2;
  // horizontal-padding: $su-4;
  // font-size: $fs-base;
  // with-icon-padding: $su-3;
  // icon-margin: $su-2;
  // position: relative;
  display: inline-block;
  padding: $vertical-padding - $border-width $horizontal-padding - $border-width;
  border-radius: $radius;
  outline: none;
  font-family: inherit;
  font-size: $font-size;
  line-height: $su-6;
  font-weight: $fw-medium;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all $transition-props;
  border: $border-width solid;
  background-color: $accent-brand;
  border-color: $border;
  box-shadow: $shadow;
  color: $base-0;
}

ul {
  list-style: none;
}

.crayons-title {
  font-size: $fs-3xl;
  color: $base-100;
  font-size: $fs-2xl;
  font-weight: $fw-bold;
  color: $base-90;
}